<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.calls</id>
	<name>Call Logging</name>
	<description>This plugin adds a new Call record type for logging incoming and outgoing phone activity.</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.0.54</version>
	<link>http://www.cerbweb.com/book/latest/plugins/cerberusweb.calls.html</link>
	<image>plugin.png</image>
	
	<!-- Requirements -->

	<requires>
		<app_version min="7.1.2" max="7.1.99" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="7.0.0" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="4.0.0-alpha" revision="1" file="patches/4.0.0_alpha.php" />
		<patch version="5.1.0-dev" revision="4" file="patches/5.1.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/call_entry.php">
			<class name="DAO_CallEntry" />
			<class name="Model_CallEntry" />
			<class name="SearchFields_CallEntry" />
			<class name="View_CallEntry" />
		</file>
		<file path="api/events/abstract/abstract_event_call.php">
			<class name="AbstractEvent_Call" />
		</file>
		<file path="api/events/macro/call_macro.php">
			<class name="Event_CallMacro" />
		</file>
	</class_loader>

	<!-- Activity Points -->
	
	<activity_points>
		<activity point="call_entry.created">
			<param key="label_key" value="Call Created" />
			<param key="string_key" value="activities.call_entry.created" />
			<param key="options" value="" />
		</activity>
	</activity_points>

	<!-- Privileges -->
	
	<acl>
		<!--<priv id="calls.actions.create" label="acl.calls.actions.create" />-->
		<priv id="calls.actions.update_all" label="acl.calls.actions.update_all" />
		<!--<priv id="calls.actions.update_nobody" label="acl.calls.actions.update_nobody" />-->
		<priv id="calls.view.actions.export" label="acl.calls.view.actions.export" />
	</acl>
	
	<extensions>
	
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>calls.listener</id>
			<name>Event Listener</name>
			<class>
				<file>api/App.php</file>
				<name>CallsEventListener</name>
			</class>
			<params>
				<param key="events">
					<value>
						<data key="cron.maint" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.call</id>
			<name>Call</name>
			<class>
				<file>api/dao/call_entry.php</file>
				<name>Context_Call</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="call" value="singular" />
						<data key="calls" value="plural" />
					</value>
				</param>
				<param key="alias" value="call" />
				<param key="dao_class" value="DAO_CallEntry" />
				<param key="view_class" value="View_CallEntry" />
				<param key="options">
					<value>
						<data key="create" />
						<data key="custom_fields" />
						<data key="find" />
						<data key="snippets" />
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>	
	
		<!-- Event Triggers -->
		
		<extension point="devblocks.event">
			<id>event.macro.call</id>
			<name>Custom call behavior</name>
			<class>
				<file>api/events/macro/call_macro.php</file>
				<name>Event_CallMacro</name>
			</class>
			<params>
				<param key="macro_context" value="cerberusweb.contexts.call" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.group" />
						<data key="cerberusweb.contexts.role" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>calls.event.action.post</id>
			<name>Log Call Global Event Action</name>
			<class>
				<file>api/App.php</file>
				<name>WgmCalls_EventActionPost</name>
			</class>
			<params>
				<param key="label" value="Create call" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Page -->
		
 		<extension point="cerberusweb.page">
			<id>calls.page</id>
			<name>Call Logging Page</name>
			<class>
				<file>api/App.php</file>
				<name>CallsPage</name>
			</class>
			<params>
				<param key="uri" value="calls" />
			</params>
		</extension>
	
		<!-- Profile Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>calls.page.profiles.call</id>
			<name>Call Section</name>
			<class>
				<file>api/uri/profiles/call.php</file>
				<name>PageSection_ProfilesCall</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="call" />
			</params>
		</extension>
		
	</extensions>
</plugin>
